.navItems {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  background-color: #1f2937;
  color: white;
  opacity: 0.9;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}

.navItems div a:active {
  color: #dc2626;
}

.slideIn {
  transform: translateX(0);
}

@media only screen and (min-width: 768px) {
  .navItems {
    position: relative;
    flex-direction: row;
    background-color: transparent;
    transform: translateX(0);
    column-gap: 1.5rem;
    width: 100%;
    height: 5rem;
  }
}

.active\:text-red-600:active {
  color: #dc2626;
}
